/* .events-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.event-create-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-create-container h1 {
    margin-bottom: 1rem;
}

.event-create-container div {
    margin-bottom: 1rem;
}

.event-create-container label {
    display: block;
    margin-bottom: 0.5rem;
}

.event-create-container input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.event-create-container .error {
    color: red;
    font-size: 0.875rem;
}

.event-create-container button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-create-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}