.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.input-err {
    border: 1px solid red;
   }

.error{
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }