.greeting-card {
    height: 53vh;
    border-radius: 1.5rem;
    border: .3vw solid white;
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.greeting-card section {
    width: inherit;
    height: inherit;
    border: none;
    border-radius: .2rem;
    padding: 2vw;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-wrap: pretty;
}


.greeting-card h2 {
    font-size: 2vw;
    margin: 0;
    font-weight: 600;
}

.greeting-card p {
    font-size: 1.2vw;
    margin: 0;
    line-height: 1.9;
}

.greeting-card section ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1vw;
}


.greeting-card section ul li {
    list-style: none;
}

.greeting-card ul li p::before {
    content: '✓';
    color: #FFA500;
    margin-right: 8px;
    font-weight: bold;
}

.greeting-card span {
    font-size: 1.5vw;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: .2vw;
}

.greeting-card strong {
    font-size: 1.5vw;
}

.greeting-card .report-span {
    border: 1px solid #3d9bff;
    border-radius: .6vw;
    background-color: #3d9bff;
    margin: .5vw;
    color: white;
}

.greeting-card .event-span {
    border: 1px solid rgb(186, 73, 73);
    border-radius: .6vw;
    background-color: rgb(186, 73, 73);
    margin: .5vw;
    color: white;
}