.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header p {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header a {
    text-decoration: none;
    color: #fff;
    cursor: auto;
}

.header a p:hover {
    transition: all .3s ease;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.header button {
    border-radius: .5rem;
    border: none;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    background-color: rgb(57, 112, 151);
}

.header button:hover {
    transition: all .3s ease;
    background-color: rgb(255, 255, 255);
    color: rgb(81, 138, 88);
}

.header button:active {
    transition: scale .3s ease;
    transform: scale(0.9);
}