.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header p {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.header button {
    border-radius: .5rem;
    border: none;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    background-color: rgb(57, 112, 151);
}