.impact-metrics {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.impact-metrics div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.impact-metrics span {
    font-size: 3vw;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}