.report-page-container {
    display: flex;
    /* width: 100vw;
    height: 100vh; */
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.report-page-container div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.report-page-container h1 {
    margin-bottom: 1rem;
}

.report-page-container div {
    margin-bottom: 1rem;
}

.report-page-container label {
    display: block;
    margin-bottom: 0.5rem;
}

.report-page-container input {
    width: 100%;
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.report-page-container .error {
    color: red;
    font-size: 0.875rem;
}

.report-page-container button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.report-page-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}