.report {
    margin-bottom: 4rem;
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: rgb(56, 133, 138);
    padding: 1rem;
    transition: box-shadow .2s ease;
    position: fixed;
    left: -260px;
}

.report:hover {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.069)
}

.report textarea {
resize: none;
}

.button-container #report-button {
    width: 15vw;
}

.left-sidebar-open {
    transition: all .7s ease;
    left: 0;
}