.user-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-container .user-profile-greeting {
    font-size: 2rem;
}

.user-profile-container  .joined-events-title {
    font-size: 1.3rem;
}

.user-profile-container ul {
    display: block;
    gap: 1rem;
    max-height: 200px;
    overflow-y: scroll;
    padding: 1rem;
    margin: 0;
}

.user-profile-container li {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

.user-profile-container ul li span {
    font-size: .9rem;
    font-weight: 300;
}

.user-profile-container ul li span:last-child {
    color: rgb(210, 171, 171);
    font-weight: 500;
}

